* {
    box-sizing: border-box;
    color: white;
}

.box_animate {
    position: relative;
    margin: 0 auto;
    height: 500px;

}

.box {
    position: absolute;
    top: 50%;
    left: 40%;
    margin: 0 auto;
    animation-name: rotate;
    transform-style: preserve-3d;
}

div {
    width: 300px;
    height: 300px;
}


.animate {
    animation-iteration-count: infinite;
    animation-duration: 6s;
    animation-direction: normal;
    animation-delay: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;

}
.front {
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    animation-name: moveFront;
    transform-style: preserve-3d;


}

.back {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: blue;
    animation-name: moveBack;
    transform-style: preserve-3d;


}

.front::before {
    content: "";
    background-color: red;
    height: 100%;
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: translateZ(-1px);
}

.back::before {
    content: "";
    background: blue;
    height: 100%;
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: translateZ(-1px);

}

@keyframes rotate {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

@keyframes moveFront {
    from {
        transform: translateZ(-50px) rotateZ(360deg);

    }
    to {
        transform: translateZ(-50px) rotateZ(0deg);

    }
}

@keyframes moveBack {
    from {
        transform: translateZ(50px) rotateZ(0);

    }
    to {
        transform: translateZ(50px) rotateZ(360deg);

    }

}